<div class="card">
    <div class="card-body">
        <form action="/admin/login" method="post">
            <label for="cpf">CPF: </label>
                <input type="cpf" class="form-control" name="cpf">
            <label for="senha">Senha: </label>
                <input type="senha" class="form-control" name="senha">
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</div>